@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:700");
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Gotham', sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

.header {
  background: #000000 url(../img/header/header-bg.jpg) top no-repeat;
  height: 890px;
  color: #ffffff;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header-top {
  position: relative;
}

.header-top:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #797979;
  margin-top: 18px;
}

.header-top-logo {
  margin-top: 20px;
  width: 79px;
  height: 75px;
}

.header-top-menu {
  margin-top: 55px;
}

.header-top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-menu ul li {
  position: relative;
  list-style: none;
}

.header-top-menu ul li:before {
  content: '';
  position: absolute;
  top: 53px;
  left: -25%;
  width: 150%;
  height: 6px;
  margin: auto;
  background-color: rgba(17, 116, 158, 0.9);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.header-top-menu ul li:hover:before {
  opacity: 1;
}

.header-top-social {
  margin-top: 55px;
}

.header-top-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top-social ul li {
  list-style: none;
}

.header-bottom-wrap {
  text-align: center;
}

.header-bottom-wrap__title {
  font-size: 153px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 272px;
}

.header-bottom-wrap__subtitle {
  font-size: 25px;
  font-weight: 500;
  color: #11749e;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.header-bottom-scroll {
  margin-top: 150px;
}

.header-bottom-scroll__text {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.header-bottom-scroll__arrow {
  position: relative;
  margin-top: 22px;
  cursor: pointer;
}

.header-bottom-scroll__arrow:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  height: 15px;
  width: 15px;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transform: translateX(-7px) rotate(45deg);
          transform: translateX(-7px) rotate(45deg);
}

.header-bottom-scroll__arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 60px;
  width: 60px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}

.about {
  background-color: #11749e;
  text-align: center;
  color: #ffffff;
}

.about-title {
  position: relative;
  font-size: 38px;
  text-transform: uppercase;
  padding-top: 170px;
  font-weight: 500;
  margin: auto;
}

.about-title:after {
  content: 'W';
  position: absolute;
  top: 130px;
  left: 50%;
  font-size: 250px;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 0.2;
  -webkit-transform: translateX(-51%) translateY(-12%);
          transform: translateX(-51%) translateY(-12%);
}

.about-items {
  margin-top: 145px;
  padding-bottom: 130px;
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-item__title {
  text-transform: uppercase;
  margin-top: 18px;
  font-weight: 500;
}

.about-item__text {
  margin-top: 28px;
  font-size: 14px;
  font-weight: 400;
}

.about-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  height: 135px;
  width: 135px;
  background-color: rgba(46, 133, 170, 0.5);
  border-radius: 50%;
}

.news-block-one {
  color: #ffffff;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 30px;
}

.news-one {
  background-color: #222222;
}

.news-one__date {
  font-size: 13px;
}

.news-one__title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
}

.news-one__text {
  font-size: 15px;
  font-weight: normal;
}

.news-one__text p:first-child {
  margin-top: 45px;
}

.news-one__text p:last-child {
  margin-top: 35px;
}

.news-one__img {
  max-width: 570px;
  margin-bottom: -3px;
}

.news-one__img img {
  max-width: 570px;
}

.news-block-two {
  color: #222222;
  padding-top: 35px;
  padding-left: 70px;
  padding-right: 30px;
}

.news-two {
  background-color: #f3f3f3;
}

.news-two__date {
  font-size: 13px;
}

.news-two__title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  margin-top: 20px;
}

.news-two__text {
  font-size: 15px;
  font-weight: normal;
}

.news-two__text p:first-child {
  margin-top: 45px;
}

.news-two__text p:last-child {
  margin-top: 35px;
}

.news-two__img {
  width: 570px;
  margin-bottom: -3px;
}

.news-two__img img {
  max-width: 570px;
}

.blog {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
}

.blog-title {
  position: relative;
  font-size: 38px;
  text-transform: uppercase;
  padding-top: 170px;
  font-weight: 500;
  margin: auto;
}

.blog-title:after {
  content: 'B';
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 250px;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 0.2;
  -webkit-transform: translateX(-51%) translateY(-12%);
          transform: translateX(-51%) translateY(-12%);
}

.blog-subtitle {
  font-weight: normal;
  font-size: 30px;
  margin-top: 110px;
}

.blog-items {
  margin-top: 75px;
  padding-bottom: 130px;
}

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-item__title {
  text-transform: uppercase;
  margin-top: 45px;
  font-weight: 500;
  color: #11749e;
}

.blog-item__text {
  margin-top: 28px;
  font-size: 14px;
  font-weight: 400;
}

.action {
  background-color: #11749e;
  color: #ffffff;
}

.action-title {
  position: relative;
  font-size: 38px;
  text-transform: uppercase;
  padding-top: 170px;
  font-weight: 500;
  margin: auto;
}

.action-title:after {
  content: 'W';
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 250px;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 0.2;
  -webkit-transform: translateX(-51%) translateY(-12%);
          transform: translateX(-51%) translateY(-12%);
}

.action-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-item__text {
  font-size: 14px;
  font-weight: 400;
  padding-top: 115px;
  padding-bottom: 115px;
}

.action-item__icon {
  font-size: 50px;
  margin-right: 20px;
}

.feature {
  background: url(../img/feature/feature-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 95px;
  padding-bottom: 100px;
  color: #ffffff;
}

.feature-text {
  max-width: 485px;
}

.feature-text__title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.feature-text__subtitle {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 68px;
}

.feature-text__list {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
  background-color: #11749e;
  padding: 13px 18px;
}

.feature-text__list_first {
  max-width: 370px;
  width: 100%;
}

.feature-text__list_second {
  max-width: 400px;
  width: 100%;
}

.feature-text__list_third {
  max-width: 430px;
  width: 100%;
}

.team {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
}

.team-title {
  position: relative;
  font-size: 38px;
  text-transform: uppercase;
  padding-top: 170px;
  font-weight: 500;
  margin: auto;
}

.team-title:after {
  content: 'T';
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 250px;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 0.2;
  -webkit-transform: translateX(-51%) translateY(-12%);
          transform: translateX(-51%) translateY(-12%);
}

.team-subtitle {
  font-weight: normal;
  font-size: 30px;
  margin-top: 140px;
}

.team-items {
  margin-top: 75px;
  padding-bottom: 130px;
}

.team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-item-name {
  background-color: #fff;
  margin-top: -45px;
  padding: 15px 40px;
}

.team-item-name__title {
  text-transform: uppercase;
  font-weight: 500;
  color: #11749e;
}

.team-item-name__text {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 400;
}

.contact {
  background: url(../img/contact/contact-bg.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.contact-title {
  position: relative;
  font-size: 38px;
  text-transform: uppercase;
  padding-top: 170px;
  font-weight: 500;
  margin: auto;
  margin-bottom: 147px;
}

.contact-title:after {
  content: 'C';
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 250px;
  font-family: 'Roboto';
  font-weight: 700;
  opacity: 0.2;
  -webkit-transform: translateX(-51%) translateY(-12%);
          transform: translateX(-51%) translateY(-12%);
}

.contact-form {
  margin-bottom: 100px;
}

.contact-form__group {
  max-width: 1170px;
  width: 100%;
}

.contact-form__input {
  max-width: 358px;
  width: 100%;
  background-color: transparent;
  padding: 19px 0 16px 21px;
  margin-right: 28px;
  margin-bottom: 38px;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
  border: 1px solid #ffffff;
}

.contact-form__input::-webkit-input-placeholder {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

.contact-form__input:-ms-input-placeholder {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

.contact-form__input::-ms-input-placeholder {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

.contact-form__input::placeholder {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

.contact-form__input:last-child {
  margin-right: 0;
}

.contact-form__textarea {
  max-width: 1170px;
  width: 100%;
  background-color: transparent;
  padding: 19px 0 16px 21px;
  margin-right: 28px;
  margin-bottom: 38px;
  font-size: 15px;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
  border: 1px solid #ffffff;
}

.contact-form__textarea::-webkit-input-placeholder {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

.contact-form__textarea:-ms-input-placeholder {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

.contact-form__textarea::-ms-input-placeholder {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

.contact-form__textarea::placeholder {
  font-size: 15px;
  color: #ffffff;
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

.contact-form__button {
  background-color: #11749e;
  border: none;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  padding: 20px 68px;
}

.form {
  width: 100%;
}

.footer {
  background-color: #222222;
  color: #ffffff;
  padding: 50px 0;
  font-size: 14px;
}

.footer-right {
  float: right;
}

.footer-right a {
  text-decoration: none;
  color: #ffffff;
}

.footer-right a:hover {
  text-decoration: underline;
}

.footer-left {
  float: left;
}

#map {
  height: 100%;
}

@media (max-width: 1199px) {
  .news-block-one {
    padding: 20px 0;
  }
  .news-block-two {
    padding: 20px 0;
  }
  .news-one__img {
    margin-left: -15px;
  }
  .news-one__img img {
    max-width: 495px;
  }
  .news-two__img {
    margin-left: -30px;
  }
  .news-two__img img {
    max-width: 495px;
  }
  .contact-form__input {
    max-width: 298px;
  }
}

@media (max-width: 991px) {
  .about-title, .blog-title, .team-title, .contact-title {
    font-size: 24px;
    padding-top: 100px;
  }
  .about-title:after, .blog-title:after, .team-title:after, .contact-title:after {
    top: 60px;
    font-size: 170px;
  }
  .about-items, .blog-items, .team-items {
    margin-top: 100px;
    padding-bottom: 50px;
  }
  .hamburger span:before, .hamburger span:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #000;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 98;
  }
  .hamburger-btn {
    display: block;
    position: relative;
    background-color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 50px;
  }
  .hamburger span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 2px;
    width: 20px;
    background-color: #000;
  }
  .hamburger span:before {
    top: -5px;
  }
  .hamburger span:after {
    top: 5px;
  }
  .hamburger_active span:before {
    -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
    width: 10px;
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  .hamburger_active span:after {
    -webkit-transform-origin: right top;
            transform-origin: right top;
    width: 10px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .header {
    height: 100vh;
  }
  .header-top {
    position: relative;
  }
  .header-top:before {
    top: 35px;
  }
  .header-top-logo {
    display: none;
  }
  .header-top-menu {
    position: fixed;
    top: -45px;
    left: 12px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 97;
    padding: 10px 10px 9px 60px;
    background-color: #fff;
    border-radius: 50px;
    -webkit-transform-origin: 16px;
            transform-origin: 16px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header-top-menu_active {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 2px 2px 5px #000;
            box-shadow: 2px 2px 5px #000;
  }
  .header-top-menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-top-menu ul a {
    color: #000000;
  }
  .header-top-menu ul a li {
    padding-right: 10px;
  }
  .header-top-menu ul a li:hover:before {
    opacity: 0;
  }
  .header-top-social {
    display: none;
  }
  .header-bottom-wrap__title {
    font-size: 50px;
  }
  .header-bottom-wrap__subtitle {
    font-size: 20px;
    letter-spacing: 0;
  }
  .header-bottom-scroll {
    margin-top: 50px;
  }
  .news-block-one {
    padding: 20px 0;
  }
  .news-block-two {
    padding: 20px 0;
  }
  .news-one {
    overflow: hidden;
  }
  .news-one__img {
    width: 495px;
    margin-left: -15px;
  }
  .news-one__text p:first-child {
    margin-top: 5px;
  }
  .news-two {
    overflow: hidden;
  }
  .news-two__img {
    width: 495px;
    margin-left: -151px;
  }
  .news-two__text p:first-child {
    margin-top: 5px;
  }
  .blog-subtitle {
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .action-item__text {
    padding: 30px 0;
  }
  .feature-text__list {
    font-size: 15px;
  }
  .feature-text__list_first {
    width: 70%;
  }
  .feature-text__list_second {
    width: 80%;
  }
  .feature-text__list_third {
    width: 90%;
  }
  .team-subtitle {
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contact-title {
    margin-bottom: 80px;
  }
  .contact-form__group {
    margin-left: auto;
    margin-right: auto;
  }
  .contact-form__input {
    max-width: 992px;
    margin-right: 0;
  }
  .contact-form__textarea {
    margin-right: 0;
  }
  .footer-left {
    font-size: 12px;
  }
  .footer-right {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .news-one__img {
    width: 100%;
    margin-left: 0;
  }
  .news-one__img img {
    max-width: 100%;
    margin-left: 0;
  }
  .news-two__img {
    width: 100%;
    margin-left: 0;
  }
  .news-two__img img {
    max-width: 100%;
    margin-left: 0;
  }
  .feature-image {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .contact-form__group {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-top-menu {
    top: -45px;
    left: 10px;
    padding: 5px 25px 5px 40px;
    border-radius: 18px;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  .header-top-menu_active {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .header-top-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-top-menu ul a li {
    padding: 5px 0;
  }
}
