.footer
  position: relative
  background-color: #222222
  color: #ffffff
  padding: 50px 0
  font-size: 14px
  &-right
    float: right
    a
      text-decoration: none
      color: #ffffff
      &:hover
        text-decoration: underline
  &-left
    float: left
#map
  height: 100%
.toUp
  display: none
  position: fixed
  right: 20px
  bottom: 20px
  &:hover
    cursor: pointer
  .overlay
    box-shadow: 2px 2px 5px #000
    width: 50px
    height: 50px
    background-color: #ffffff
    border-radius: 50%
    .arrow
      position: absolute
      top: 50%
      left: 50%
      margin-left: -10px
      transform: translateY(-50%) rotate(90deg)
      height: 2px
      width: 20px
      background-color: #000
      &:before
        content: ''
        position: absolute
        height: 2px
        width: 20px
        background-color: #000
        transition: 0.2s
        top: -5px          
        transform-origin: right bottom
        transform: rotate(-30deg)
        width: 10px
      &:after
        content: ''
        position: absolute
        height: 2px
        width: 20px
        background-color: #000
        transition: 0.2s
        top: 5px
        transform-origin: right bottom
        transform: rotate(30deg)
        width: 10px