@media (max-width: 1199px)
  .news
    &-block
      &-one
        padding: 20px 0
      &-two
        padding: 20px 0
    &-one
      &__img
        width: 495px
        margin-left: -15px
    &-two
      &__img
        width: 495px
        margin-left: -105px
@media (max-width: 991px)
  // .mobile
  //   &-menu
  //     display: block
  %title
    font-size: 24px
    padding-top: 100px
    &:after
      top: 60px
      font-size: 170px
  %items
      margin-top: 100px
      padding-bottom: 50px
  %hamburger
    content: ''
    position: absolute
    height: 2px
    width: 20px
    background-color: #000
    transition: 0.2s
  .hamburger
    position: fixed
    top: 10px
    left: 10px
    z-index: 98
    &-btn
      display: block
      position: relative
      background-color: #fff
      height: 35px
      width: 35px
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
    span
      position: absolute
      top: 50%
      left: 50%
      margin-left: -10px
      transform: translateY(-50%)
      height: 2px
      width: 20px
      background-color: #000
      &:before
        @extend %hamburger
        top: -5px
      &:after
        @extend %hamburger
        top: 5px
    &_active
      .hamburger-btn
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
      span
        &:before
          transform-origin: right bottom
          width: 10px
          transform: rotate(-30deg)
        &:after
          transform-origin: right top
          width: 10px
          transform: rotate(30deg)
  .header
    height: 100vh
    &-top
      position: relative
      &:before
        top: 35px
      &-logo
        display: none
      &-menu
        position: fixed
        top: -45px
        left: 10px
        transition: 0.5s
        z-index: 97
        padding: 10px 10px 9px 60px
        background-color: #fff
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px
        transform-origin: left
        transform: rotate(180deg)
        &_active
          transform: rotate(360deg)
          // left: 10px
          border-top-left-radius: 5px
          border-bottom-left-radius: 5px
          box-shadow: 2px 2px 5px #000
        ul
          flex-direction: row
          a
            color: #000000
            li
              padding-right: 10px
              &:hover
                &:before
                  opacity: 0
      &-social
        display: none
    &-bottom
      &-wrap
        &__title
          font-size: 50px
        &__subtitle
          font-size: 20px
          letter-spacing: 0
      &-scroll
        margin-top: 50px
  .about
    &-title
      @extend %title
    &-items
      @extend %items
  .news
    &-block
      &-one
        padding: 20px 0
        margin-left: -120px
      &-two
        padding: 20px 0
        margin-right: -120px
    &-one
      &__img
        width: 495px
        margin-left: -15px
    &-two
      &__img
        width: 495px
        margin-left: -151px
  .blog
    &-title
      @extend %title
    &-subtitle
      font-size: 22px
      padding-left: 10px
      padding-right: 10px
    &-items
      @extend %items
  .action
    &-item
      &__text
        padding: 30px 0
  .feature
    &-text
      &__list
        font-size: 15px
        &_first
          width: 70%
        &_second
          width: 80%
        &_third
          width: 90%
  .team
    &-title
      @extend %title
    &-subtitle
      font-size: 22px
      padding-left: 10px
      padding-right: 10px
    &-items
      @extend %items
  .contact
    &-title
      @extend %title
      margin-bottom: 80px
    &-form
      &__group
        max-width: 358px
        margin-left: auto
        margin-right: auto
      &__input
        margin-right: 0
      &__textarea
        margin-right: 0
  .footer
    &-left
      font-size: 12px
    &-right
      font-size: 12px