@media (min-width: 575px)
  .header
    height: 700px
    &-top
      &-menu
        display: none
      &-social
        font-size: 20px
    &-bottom
      &-wrap
        &__title
          font-size: 100px
        &__subtitle
          font-size: 20px
      &-scroll
        margin-top: 50px
        &__text
          font-size: 20px
  .about
    &-title
      font-size: 20px
    &-item
      margin-bottom: 50px
  .news
    &-block
      &-one
        margin-bottom: 40px
    &-one
      &__img
        width: 100%
    &-two
      &__img
        margin-top: 40px
        width: 100%
  .blog
    &-subtitle
      font-size: 20px
    &-item
      margin-bottom: 40px
      &__image
        img
          width: 630px
      &__title
        font-size: 30px
      &__text
        font-size: 20px
  .action
    &-item
      &__icon
        font-size: 80px
      &__text
        padding: 25px 0
        font-size: 16px
  .feature
    &-text
      max-width: 690px
      &__list
        font-size: 18px
        &_first
          max-width: 560px
        &_second
          max-width: 630px
        &_third
          max-width: 700px
    &-image
      display: none
  .team
    &-item
      margin-bottom: 30px
      &__image
        img
          width: 500px
  .contact
    &-title
      font-size: 20px
    &-form
      &__input
        max-width: 100%
        &::placeholder
          font-size: 30px
      &__button
        font-size: 50px